.Joke {
    display: flex;
    border-bottom: 2px solid #eeeeee;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: #574e4e;
}

.Joke-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.Joke-text{
    width: 75%;
    font-size: 1.2rem;
}

.Joke-votes{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    border: 3px solid red;
}

.Joke .fas{
    margin: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.fa-arrow-down:hover {
    animation-name: move-down;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    color: #7193FF;
}

.fa-arrow-up:hover {
    animation-name: move-up;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    color: #FF4500;
}
  

.Joke .em{
    margin-left: auto;
    margin-right: 10px;
    font-size: 3rem;
}

.Joke .em:hover{
    animation-name: spin;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

@keyframes move-up {
    0%,
    50%,
    100% {
      transform: translateY(0);
    }
    25%,
    75% {
      transform: translateY(-3px);
    }
}

@keyframes move-down {
    0%,
    50%,
    100% {
      transform: translateY(0);
    }
    25%,
    75% {
      transform: translateY(3px);
    }
}


@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(20deg);
    }
    60% {
      transform: rotate(0deg);
    }
    80% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
}